<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecan.mapper.VmanRolePermRelaMapper">

	<insert id="addEntity">
		insert into vman_role_perm_rela(permid,roleid,createrid,creatername,createdate) values(#{permid},#{roleid},#{createrid},#{creatername},#{createdate})
	</insert>

	<delete id="deleteEntity">
		delete from vman_role_perm_rela where createrid = #{createrid}
	</delete>

	<update id="updateEntity">
		update vman_role_perm_rela
		<set>
			<if test="permid != null">
				permid = #{permid},
			</if>
			<if test="roleid != null">
				roleid = #{roleid},
			</if>
			<if test="createrid != null">
				createrid = #{createrid},
			</if>
			<if test="creatername != null">
				creatername = #{creatername},
			</if>
			<if test="createdate != null">
				createdate = #{createdate},
			</if>
		</set>
		where createrid = #{createrid}
	</update>

	<select id="findEntity" resultType="com.ecan.model.VmanRolePermRela">
		select
		permid AS permid,
		roleid AS roleid,
		createrid AS createrid,
		creatername AS creatername,
		createdate AS createdate
		from vman_role_perm_rela
		where 1 = 1
		<if test="permid != null">
			and permid = #{permid}
		</if>
		<if test="roleid != null">
			and roleid = #{roleid}
		</if>
		<if test="createrid != null">
			and createrid = #{createrid}
		</if>
		<if test="creatername != null">
			and creatername = #{creatername}
		</if>
		<if test="createdate != null">
			and createdate = #{createdate}
		</if>
	</select>

	<select id="findEntityList" resultType="com.ecan.model.VmanRolePermRela">
		select
		permid AS permid,
		roleid AS roleid,
		createrid AS createrid,
		creatername AS creatername,
		createdate AS createdate
		from vman_role_perm_rela
		where 1 = 1
		<if test="permid != null">
			and permid = #{permid}
		</if>
		<if test="roleid != null">
			and roleid = #{roleid}
		</if>
		<if test="createrid != null">
			and createrid = #{createrid}
		</if>
		<if test="creatername != null">
			and creatername = #{creatername}
		</if>
		<if test="createdate != null">
			and createdate = #{createdate}
		</if>
	</select>


</mapper>