<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecan.mapper.VmanUserMapper">

	<insert id="addEntity">
		insert into vman_user(usid,userPhone,userEmail,userPsd,userName,userSex,userAge,userBirth,userAddress,userHobby,memberCode,memberType,cardCode,cardType,createTime,lastTime,remarks) values(#{usid},#{userPhone},#{userEmail},#{userPsd},#{userName},#{userSex},#{userAge},#{userBirth},#{userAddress},#{userHobby},#{memberCode},#{memberType},#{cardCode},#{cardType},#{createTime},#{lastTime},#{remarks})
	</insert>

	<delete id="deleteEntity">
		delete from vman_user where usid = #{usid}
	</delete>

	<update id="updateEntity">
		update vman_user
		<set>
			<if test="usid != null">
				usid = #{usid},
			</if>
			<if test="user_phone != null">
				user_phone = #{userPhone},
			</if>
			<if test="user_email != null">
				user_email = #{userEmail},
			</if>
			<if test="user_psd != null">
				user_psd = #{userPsd},
			</if>
			<if test="user_name != null">
				user_name = #{userName},
			</if>
			<if test="user_sex != null">
				user_sex = #{userSex},
			</if>
			<if test="user_age != null">
				user_age = #{userAge},
			</if>
			<if test="user_birth != null">
				user_birth = #{userBirth},
			</if>
			<if test="user_address != null">
				user_address = #{userAddress},
			</if>
			<if test="user_hobby != null">
				user_hobby = #{userHobby},
			</if>
			<if test="member_code != null">
				member_code = #{memberCode},
			</if>
			<if test="member_type != null">
				member_type = #{memberType},
			</if>
			<if test="card_code != null">
				card_code = #{cardCode},
			</if>
			<if test="card_type != null">
				card_type = #{cardType},
			</if>
			<if test="create_time != null">
				create_time = #{createTime},
			</if>
			<if test="last_time != null">
				last_time = #{lastTime},
			</if>
			<if test="remarks != null">
				remarks = #{remarks},
			</if>
		</set>
		where usid = #{usid}
	</update>

	<select id="findEntity" resultType="com.ecan.model.VmanUser">
		select
		usid AS usid,
		user_phone AS userPhone,
		user_email AS userEmail,
		user_psd AS userPsd,
		user_name AS userName,
		user_sex AS userSex,
		user_age AS userAge,
		user_birth AS userBirth,
		user_address AS userAddress,
		user_hobby AS userHobby,
		member_code AS memberCode,
		member_type AS memberType,
		card_code AS cardCode,
		card_type AS cardType,
		create_time AS createTime,
		last_time AS lastTime,
		remarks AS remarks
		from vman_user
		where 1 = 1
		<if test="usid != null">
			and usid = #{usid}
		</if>
		<if test="user_phone != null">
			and user_phone = #{userPhone}
		</if>
		<if test="user_email != null">
			and user_email = #{userEmail}
		</if>
		<if test="user_psd != null">
			and user_psd = #{userPsd}
		</if>
		<if test="user_name != null">
			and user_name = #{userName}
		</if>
		<if test="user_sex != null">
			and user_sex = #{userSex}
		</if>
		<if test="user_age != null">
			and user_age = #{userAge}
		</if>
		<if test="user_birth != null">
			and user_birth = #{userBirth}
		</if>
		<if test="user_address != null">
			and user_address = #{userAddress}
		</if>
		<if test="user_hobby != null">
			and user_hobby = #{userHobby}
		</if>
		<if test="member_code != null">
			and member_code = #{memberCode}
		</if>
		<if test="member_type != null">
			and member_type = #{memberType}
		</if>
		<if test="card_code != null">
			and card_code = #{cardCode}
		</if>
		<if test="card_type != null">
			and card_type = #{cardType}
		</if>
		<if test="create_time != null">
			and create_time = #{createTime}
		</if>
		<if test="last_time != null">
			and last_time = #{lastTime}
		</if>
		<if test="remarks != null">
			and remarks = #{remarks}
		</if>
	</select>

	<select id="findEntityList" resultType="com.ecan.model.VmanUser">
		select
		usid AS usid,
		user_phone AS userPhone,
		user_email AS userEmail,
		user_psd AS userPsd,
		user_name AS userName,
		user_sex AS userSex,
		user_age AS userAge,
		user_birth AS userBirth,
		user_address AS userAddress,
		user_hobby AS userHobby,
		member_code AS memberCode,
		member_type AS memberType,
		card_code AS cardCode,
		card_type AS cardType,
		create_time AS createTime,
		last_time AS lastTime,
		remarks AS remarks
		from vman_user
		where 1 = 1
		<if test="usid != null">
			and usid = #{usid}
		</if>
		<if test="user_phone != null">
			and user_phone = #{userPhone}
		</if>
		<if test="user_email != null">
			and user_email = #{userEmail}
		</if>
		<if test="user_psd != null">
			and user_psd = #{userPsd}
		</if>
		<if test="user_name != null">
			and user_name = #{userName}
		</if>
		<if test="user_sex != null">
			and user_sex = #{userSex}
		</if>
		<if test="user_age != null">
			and user_age = #{userAge}
		</if>
		<if test="user_birth != null">
			and user_birth = #{userBirth}
		</if>
		<if test="user_address != null">
			and user_address = #{userAddress}
		</if>
		<if test="user_hobby != null">
			and user_hobby = #{userHobby}
		</if>
		<if test="member_code != null">
			and member_code = #{memberCode}
		</if>
		<if test="member_type != null">
			and member_type = #{memberType}
		</if>
		<if test="card_code != null">
			and card_code = #{cardCode}
		</if>
		<if test="card_type != null">
			and card_type = #{cardType}
		</if>
		<if test="create_time != null">
			and create_time = #{createTime}
		</if>
		<if test="last_time != null">
			and last_time = #{lastTime}
		</if>
		<if test="remarks != null">
			and remarks = #{remarks}
		</if>
	</select>


</mapper>