<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecan.mapper.VmanDicCodeMapper">

	<insert id="addEntity">
		insert into vman_dic_code(code,dic_key,dic_value,dic_desc,create_time,create_oprt,update_time,update_oprt) values(#{code},#{dicKey},#{dicValue},#{dicDesc},#{createTime},#{createOprt},#{updateTime},#{updateOprt})
	</insert>

	<delete id="deleteEntity">
		delete from vman_dic_code where dcid = #{dcid}
	</delete>

	<update id="updateEntity">
		update vman_dic_code
		<set>
			<if test="dcid != null">
				dcid = #{dcid},
			</if>
			<if test="code != null">
				code = #{code},
			</if>
			<if test="dicKey != null">
				dic_key = #{dicKey},
			</if>
			<if test="dicValue != null">
				dic_value = #{dicValue},
			</if>
			<if test="dicDesc != null">
				dic_desc = #{dicDesc},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="createOprt != null">
				create_oprt = #{createOprt},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
			<if test="updateOprt != null">
				update_oprt = #{updateOprt},
			</if>
		</set>
		where dcid = #{dcid}
	</update>

	<select id="findEntity" resultType="com.ecan.model.VmanDicCode">
		select
		dcid AS dcid,
		code AS code,
		dic_key AS dicKey,
		dic_value AS dicValue,
		dic_desc AS dicDesc,
		create_time AS createTime,
		create_oprt AS createOprt,
		update_time AS updateTime,
		update_oprt AS updateOprt
		from vman_dic_code
		where 1 = 1
		<if test="dcid != null">
			and dcid = #{dcid}
		</if>
		<if test="code != null">
			and code = #{code}
		</if>
		<if test="dicKey != null">
			and dic_key = #{dicKey}
		</if>
		<if test="dicValue != null">
			and dic_value = #{dicValue}
		</if>
		<if test="dicDesc != null">
			and dic_desc = #{dicDesc}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime}
		</if>
		<if test="createOprt != null">
			and create_oprt = #{createOprt}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime}
		</if>
		<if test="updateOprt != null">
			and update_oprt = #{updateOprt}
		</if>
	</select>

	<select id="findEntityList" resultType="com.ecan.model.VmanDicCode">
		select
		dcid AS dcid,
		code AS code,
		dic_key AS dicKey,
		dic_value AS dicValue,
		dic_desc AS dicDesc,
		create_time AS createTime,
		create_oprt AS createOprt,
		update_time AS updateTime,
		update_oprt AS updateOprt
		from vman_dic_code
		where 1 = 1
		<if test="dcid != null">
			and dcid = #{dcid}
		</if>
		<if test="code != null">
			and code = #{code}
		</if>
		<if test="dicKey != null">
			and dic_key = #{dicKey}
		</if>
		<if test="dicValue != null">
			and dic_value = #{dicValue}
		</if>
		<if test="dicDesc != null">
			and dic_desc = #{dicDesc}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime}
		</if>
		<if test="createOprt != null">
			and create_oprt = #{createOprt}
		</if>
		<if test="updateTime != null">
			and update_time = #{updateTime}
		</if>
		<if test="updateOprt != null">
			and update_oprt = #{updateOprt}
		</if>
	</select>


</mapper>