<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecan.mapper.VmanUserMapper">

	<insert id="addEntity">
		insert into vman_user(usid,user_phone,user_email,user_psd,user_name,user_sex,user_age,user_birth,user_address,user_hobby,member_code,member_type,card_code,card_type,create_time,last_time,remarks) values(#{usid},#{userPhone},#{userEmail},#{userPsd},#{userName},#{userSex},#{userAge},#{userBirth},#{userAddress},#{userHobby},#{memberCode},#{memberType},#{cardCode},#{cardType},#{createTime},#{lastTime},#{remarks})
	</insert>

	<delete id="deleteEntity">
		delete from vman_user where usid = #{usid}
	</delete>

	<update id="updateEntity">
		update vman_user
		<set>
			<if test="usid != null">
				usid = #{usid},
			</if>
			<if test="userPhone != null">
				user_phone = #{userPhone},
			</if>
			<if test="userEmail != null">
				user_email = #{userEmail},
			</if>
			<if test="userPsd != null">
				user_psd = #{userPsd},
			</if>
			<if test="userName != null">
				user_name = #{userName},
			</if>
			<if test="userSex != null">
				user_sex = #{userSex},
			</if>
			<if test="userAge != null">
				user_age = #{userAge},
			</if>
			<if test="userBirth != null">
				user_birth = #{userBirth},
			</if>
			<if test="userAddress != null">
				user_address = #{userAddress},
			</if>
			<if test="userHobby != null">
				user_hobby = #{userHobby},
			</if>
			<if test="memberCode != null">
				member_code = #{memberCode},
			</if>
			<if test="memberType != null">
				member_type = #{memberType},
			</if>
			<if test="cardCode != null">
				card_code = #{cardCode},
			</if>
			<if test="cardType != null">
				card_type = #{cardType},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="lastTime != null">
				last_time = #{lastTime},
			</if>
			<if test="remarks != null">
				remarks = #{remarks},
			</if>
		</set>
		where usid = #{usid}
	</update>

	<select id="findEntity" resultType="com.ecan.model.VmanUser">
		select
		usid AS usid,
		user_phone AS userPhone,
		user_email AS userEmail,
		user_psd AS userPsd,
		user_name AS userName,
		user_sex AS userSex,
		user_age AS userAge,
		user_birth AS userBirth,
		user_address AS userAddress,
		user_hobby AS userHobby,
		member_code AS memberCode,
		member_type AS memberType,
		card_code AS cardCode,
		card_type AS cardType,
		create_time AS createTime,
		last_time AS lastTime,
		remarks AS remarks
		from vman_user
		where 1 = 1
		<if test="usid != null">
			and usid = #{usid}
		</if>
		<if test="userPhone != null">
			and user_phone = #{userPhone}
		</if>
		<if test="userEmail != null">
			and user_email = #{userEmail}
		</if>
		<if test="userPsd != null">
			and user_psd = #{userPsd}
		</if>
		<if test="userName != null">
			and user_name = #{userName}
		</if>
		<if test="userSex != null">
			and user_sex = #{userSex}
		</if>
		<if test="userAge != null">
			and user_age = #{userAge}
		</if>
		<if test="userBirth != null">
			and user_birth = #{userBirth}
		</if>
		<if test="userAddress != null">
			and user_address = #{userAddress}
		</if>
		<if test="userHobby != null">
			and user_hobby = #{userHobby}
		</if>
		<if test="memberCode != null">
			and member_code = #{memberCode}
		</if>
		<if test="memberType != null">
			and member_type = #{memberType}
		</if>
		<if test="cardCode != null">
			and card_code = #{cardCode}
		</if>
		<if test="cardType != null">
			and card_type = #{cardType}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime}
		</if>
		<if test="lastTime != null">
			and last_time = #{lastTime}
		</if>
		<if test="remarks != null">
			and remarks = #{remarks}
		</if>
	</select>

	<select id="findEntityList" resultType="com.ecan.model.VmanUser">
		select
		usid AS usid,
		user_phone AS userPhone,
		user_email AS userEmail,
		user_psd AS userPsd,
		user_name AS userName,
		user_sex AS userSex,
		user_age AS userAge,
		user_birth AS userBirth,
		user_address AS userAddress,
		user_hobby AS userHobby,
		member_code AS memberCode,
		member_type AS memberType,
		card_code AS cardCode,
		card_type AS cardType,
		create_time AS createTime,
		last_time AS lastTime,
		remarks AS remarks
		from vman_user
		where 1 = 1
		<if test="usid != null">
			and usid = #{usid}
		</if>
		<if test="userPhone != null">
			and user_phone = #{userPhone}
		</if>
		<if test="userEmail != null">
			and user_email = #{userEmail}
		</if>
		<if test="userPsd != null">
			and user_psd = #{userPsd}
		</if>
		<if test="userName != null">
			and user_name = #{userName}
		</if>
		<if test="userSex != null">
			and user_sex = #{userSex}
		</if>
		<if test="userAge != null">
			and user_age = #{userAge}
		</if>
		<if test="userBirth != null">
			and user_birth = #{userBirth}
		</if>
		<if test="userAddress != null">
			and user_address = #{userAddress}
		</if>
		<if test="userHobby != null">
			and user_hobby = #{userHobby}
		</if>
		<if test="memberCode != null">
			and member_code = #{memberCode}
		</if>
		<if test="memberType != null">
			and member_type = #{memberType}
		</if>
		<if test="cardCode != null">
			and card_code = #{cardCode}
		</if>
		<if test="cardType != null">
			and card_type = #{cardType}
		</if>
		<if test="createTime != null">
			and create_time = #{createTime}
		</if>
		<if test="lastTime != null">
			and last_time = #{lastTime}
		</if>
		<if test="remarks != null">
			and remarks = #{remarks}
		</if>
	</select>


</mapper>